{
	"extends": "airbnb",
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"no-console": "off",
		"no-confusing-arrow": "off",
		"consistent-return":"off",
		"class-methods-use-this": "off",
		"eslint no-useless-escape": "off",
		"linebreak-style": 0
	}
}